{% extends 'accounts/main.html' %}
{% load widget_tweaks %}

   {% block content %}
   <style>
    #footer{
    display: none;
  }
  #footer-user{
    display: block !important;
  }
</style>
<br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card card-body" style="text-align: center;">
                    <h3>Change Password</h3>
                    <form method="POST">
                        {% csrf_token %}
                        <p style="text-align: left!important;">
                            <label>Old password :</label>
                            {{form.old_password|add_class:'form-control'}}
                        </p>
                        <p style="text-align: left!important;">
                            <label>New password :</label>
                            {{form.new_password1|add_class:'form-control'}}
                        </p>
                        <p style="text-align: left!important;">
                            <label>New password confirmation :</label>
                            {{form.new_password2|add_class:'form-control'}}
                        </p>
                        
                        <button type="submit" class="btn btn-success">Change Password</button><br>

                        <a href="{% url 'logout' %}" >Forgot Password? <br>Go Login page to Reset</a>
                    </form>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    {% endblock %}