{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <form action="" method="POST">
                {% csrf_token %}
                {{formset.management_form}}
                {% for form in formset %}
                    {{form.product}}
                    <p style="display: none;">{{form.status}}</p>
                    <hr>
                {% endfor %}

                <input type="submit" name="Submit">
            </form>
                    
        </div>
    </div>
</div>


{% endblock %}