{% extends 'accounts/main.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<style>
    .product-form{
        width: 170px;
        float: left;
        display: inline-block;
        margin-right: 20px;
    }
    .dropdown-menu ul li{
        list-style: none;
    }
    .dropdown{
        display: inline-block;
        margin-right: 20px;
    }
    #myInput {
        background-image: url("{% static '/images/searchicon.png' %}"); 
        background-position: 10px 12px; 
        background-repeat: no-repeat; 
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd; 
        margin-bottom: 12px;
        margin-top: -10px;
    }
</style>
<script>
    function myFunction() {
      var input, filter, ul, li, a, i, txtValue;
      input = document.getElementById('myInput');
      filter = input.value.toUpperCase();
      ul = document.getElementById("id_tags");
      li = ul.getElementsByTagName('li');
    
      for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("label")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = "";
        } else {
          li[i].style.display = "none";
        }
      }
    }
    </script>
    <br>

    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Products</h5>
            </div>
            <div class="card card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <p class="product-form">
                        {{ form.name|add_class:'form-control' }}
                    </p>
                    <p class="product-form">
                        {{ form.price|add_class:'form-control' }}
                    </p>
                    <p class="product-form">
                        {{ form.category|add_class:'form-control' }}
                    </p>
                    <p class="product-form">
                        {{ form.description|add_class:'form-control' }}
                    </p>
                        <div class="dropdown">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Select Tags
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <input class="form-control" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search tags">
                                {{form.tags}}
                            </div>
                          </div>
                    <input class="btn btn-warning" type="submit" name='Add'>
                </form>
            </div>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Price</th>
                    </tr>
                    {% for i in products %}
                        <tr>
                            <td>{{ i.name }}</td>
                            <td>{{ i.category }}</td>
                            <td>{{ i.price }}</td>
                        </tr>
                        
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
