{% extends 'accounts/main.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                        <p >{{form.product|add_class:'form-control'}}</p>
                        <p>{{form.status|add_class:'form-control'}}</p>
                    <hr>
                    <input class="btn btn-primary" type="submit" name="Submit">
                </form>
                        
            </div>
        </div>
    </div>
</div>


{% endblock %}