{% extends 'accounts/main.html' %}
{% block content %}
{% include 'accounts/status.html' %}


<li class="nav-item">
    <a class="nav-link" href="{% url 'create_order' user.customer.id %}">Order</a>
</li>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Date Ordered</th>
                    <th>Status</th>
                    <th>Delete</th>
                </tr>
                {% for order in orders %}
                <tr>
                    <th>{{order.product}}</th>
                    <th>{{order.product.category}}</th>
                    <th>{{order.date_created}}</th>
                    <th>{{order.status}}</th>
                    <td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Delete</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock content %}