{% extends 'accounts/main.html' %}
{% load static %}
{% load widget_tweaks %}
{% block head %}
    
  <link rel="stylesheet" type="text/css" href="{% static '/css/store.css' %}">

{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-3">
    <form action="" method="get">
      <p><input type="text" placeholder="Search product name..." id="searchInput" style="float: left;" class="form-control" name="name" id="id_name"> <br>
      <p class="filter-form">Price range: <br><br> <input type="number" class="form-control" placeholder="From..." name="start_price" id="id_start_price">
        <br><input type="number" class="form-control" placeholder="To..." name="end_price" id="id_end_price"></p>
      <p class="filter-form">Date added product:<br><br><input type="date" class="form-control" placeholder="From..." name="start_date" id="id_start_date">
      <br> <input type="date" class="form-control" placeholder="To..." name="end_date" id="id_end_date"></p>
      <div class="dropdown filter-form">
        <button style="width: 100%;" class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Filter Category
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <input class="form-control" type="text" id="categoryInput" onkeyup="categoryFunction()" placeholder="Search tags">
            {{ productFilter.form.category }}
        </div>
      </div>
      <div class="dropdown filter-form">
       <button style="width: 100%;" class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Filter Tags
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <input class="form-control" type="text" id="tagInput" onkeyup="tagFunction()" placeholder="Search tags">
            {{ productFilter.form.tags }}
        </div>
      </div>
      <p class="filter-form"><br><button class="btn btn-md btn-info" type="submit">Filter</button></p>
    </form>
  </div>
  <div class="col-md-6"><div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel"> 
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" style="height: 250px;" src="" alt="First slide">
      </div>
      {% for product in products %}
      <div class="carousel-item">
          <div class="row">
              <div class="col-md-5 product-img">
                <img src="{{ product.img.url }}" alt="Second slide">
              </div>
              <div class="col-md-7 item-details">
                  <div class="item-center">
                    <h3><i><b>{{ product.name }}</b></i></h3>
                    {% if product.description %}
                    <p><strong>{{ product.description }}</strong></p>
                    {% endif %}
                    <h4>Price: ${{ product.price|floatformat:0 }}</h4>
                    <button data-product={{product.id}} data-action="add" class="btn btn-sm btn-secondary add-btn update-cart">Add to Cart</button>
                  </div>
              </div>
          </div>
        
      </div>
      {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div></div>
  <div class="col-md-3">
    <form method="get">
      <p><input class="form-control" type="text" id="liveInput" onkeyup="productFunction()" placeholder="Search product...."> 
        <button class="btn btn-info" style="margin-left: 15px;" type="submit">Search</button></p>
    </form>
  </div>
</div>
<div class="row" id="product_name">
  {% for product in products %}
  <div class="col-lg-3">
    <div style="background-color: #fff;">
    <img class="thumbnail" src="{{ product.img.url }}" alt="">
    <div class="box-element product">
      <h6><strong>{{ product.name }}</strong></h6><hr>
      <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
      <a href="#" class="btn btn-outline-success">View</a>
      <h4 style="display: inline-block; float: right;">${{product.price|floatformat:0}}</h4>
    </div>
  </div>
</div>
  {% endfor %}
</div>
{% endblock %}